.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 0;

    &__title {
        flex: 3;
        h2 {
            font-size: 54px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 15px;
        }
        p {
            font-weight: 400;
        }
    }
    &__image {
        flex: 5;
        display: flex;
        justify-content: center;
        img {
            width: 80%;
        }
    }
}

@media screen and (max-width: 720px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
}