.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    width: 100%;
    margin-bottom: 50px;

    &__item {
        padding: 15px;
        border: solid 1px $light-gray;
        border-radius: 5px;

        img {
            width: 100%;
        }

        input[type=checkbox] {
            display: none;
        }

        label {
            width: 100%;
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            text-align: center;
            background-color: $green;
            color: $white;
            padding: 10px 0;
            border-radius: 5px;
            margin-top: 5px;
            cursor: pointer;
        }
        
        input:checked + label {
            background-color: $red;
        }
    }
}

@media screen and (max-width: 720px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
}