$grid-gutter: 1%;
$grid-columns: 12;
$grid-max: 980px;
* {
    box-sizing: border-box;
}
////
// Grids
////
[class*="grid-"] {
  background: lightgray;
  outline: 1px solid gray;
  float: left;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
}

@for $i from 1 through $grid-columns{ 
  .grid-#{$i} {
    width: 100% / $grid-columns * $i;
  }
}

.container {
  display: block;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}